<% if user_signed_in? %>
  <h1 class="text-3xl font-bold underline">Welcome Back, <%= current_user.name %></h1>
  <h1 class="text-3xl font-bold underline">Email, <%= current_user.email %></h1>
  <%= link_to 'Sign out', destroy_user_session_path, data: { turbo_method: :delete } %>
  <%= link_to 'Edit Profile', edit_user_registration_path %>

<% else %>
  <h1>Home</h1>
  <%= link_to 'Sign in', new_user_session_path %>
<% end %>